{{#if IsLoggedIn}}

    <h1 class="text-center">Courses</h1>
    <section>
        <a href="/course/create" class="btn btn-warning ">Create Course</a>
        <form class="search float-right" action="/search" method="POST">
            <label>Search: </label>
            <input type="text" name="search">
            <input type="submit" class="btn btn-info" value="Search">
        </form>
    </section>

    {{#if courses}}
        <h1 class="text-center">Top Courses</h1>
        <div class="container mt-3">
            <div class="row d-flex justify-content-center">
                {{#each courses}}
                    {{> course }}
                {{/each}}
            </div>
        </div>
    {{else}}
        <h4 class="text-center">No courses...</h4>
    {{/if}}

{{else}}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Video Tutorials</h1>
            <p class="lead">Start Self-Study Today: It'll Change Your Life</p>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row d-flex justify-content-center">
            {{#each courses}}
                {{> course }}
            {{/each}}
        </div>
    </div>
{{/if}}

